@{
    ViewData["Title"] = "Dashboard do Sistema";
}
@using Microsoft.AspNetCore.Identity
@using SistemaTeste2.Areas.Identity.Data
@inject SignInManager<AppIdentityUser> SignInManager
@inject UserManager<AppIdentityUser> UserManager


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <!-- fontes -->
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">
    <!-- JavaScript e icones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/dashboard.css">
</head>

<body>
    <!-- header -->
    <div id="anchorHeader">
        <p>User <span class="boldWords">Management</span></p>
        <form asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" id="currentUser"
            style="text-decoration: none;
            color: white;
            margin-left: 45vw;
            font-size:24px;
            font-weight:300;
            position:absolute;
            top:5vh;
            font-family:'Ubuntu',sans-serif;">Hello @UserManager.GetUserName(User)</a>
            <button type="submit" class="btn btn-link navbar-btn navbar-link" style="padding:11px;">Logout</button>
        </form>
            <button id="addNewUser">
                <!-- esta tag asp-controller leva para o controller e asp-action leva para o método deste controller -->
                <a asp-controller="Sistema" asp-action="Form" style="text-decoration:none;color:rgb(68, 68, 68);">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Add New User
                </a>
            </button>
            <button id="exportToExcel">
                <a asp-controller="Sistema" asp-action="CreateFile" style="text-decoration:none;color:rgb(68, 68, 68);">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    Export to Excel
                </a>
            </button>
</div>

    <!-- main -->
    <div id="anchorBody">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @model List<Person>


                @foreach (var pessoa in Model)
                {
                    <tr id=@pessoa.Id>
                        <td>@pessoa.Id</td>
                        <td>
                            <img src="@pessoa.Photo" alt="@pessoa.Name">
                            @pessoa.Name
                        </td>
                        <td>
                            <span>
                                @pessoa.Dia/@pessoa.Mes/@pessoa.Ano
                            </span>
                        </td>
                        <td>@pessoa.Role</td>
                        <td>
                            <i class="fa fa-circle"
                               aria-hidden="true"
                               id="statusIcon"
                               style="font-size: 12px;color:@pessoa.StatusIconObj()" ;>

                            </i>
                            @pessoa.Status
                        </td>
                        <td>
                            <button id=@pessoa.Id class="cogIcon">
                                <a asp-action="Form" asp-route-update="true" asp-route-codigo="@pessoa.Id">
                                    <i class="fa fa-cog"
                                       aria-hidden="true"
                                       style="color:#22bee6;">
                                    </i>
                                </a>
                            </button>
                            <button id=@pessoa.Id
                                    onClick=deleteUser(this)
                                    class="cancelIcon">
                                <i id="@pessoa.Id" class="fa fa-times-circle" aria-hidden="true" style="color:#dd405a;"></i>
                            </button>
                        </td>
                    </tr>
                }

                <!-- tr vazio pois o js vai adicionar os itens da tabela -->
            </tbody>
        </table>
        <!-- parte que mostra as páginas -->
        <div id="pageCounter">
            <p>Showing <span class="boldWords" id="currentEntrie"></span> out of <span class="boldWords" id="totalAmount"></span> entries</p>
            <button> Next </button>
            <button id="5button"> <span>5</span> </button>
            <button id="4button"> <span>4</span> </button>
            <button id="3button"> <span>3</span> </button>
            <button id="2button"> <span>2</span> </button>
            <button id="1button"> <span>1</span> </button>
            <button> Previous </button>
        </div>
    </div>
</body>
</html>

@section Scripts
    {
    <script type="text/javascript">


    </script>

}
<script src="~/js/dashboard.js"></script>

<script src="~/js/Dashboard2.js"></script>
